.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
    
  }
.frm2{

  padding-left: 360px;
}

.frm3{

  padding-left: 720px;
}

.frm4{

  padding-left: 1100px;
}
