<body class="page body_style_wide body_filled article_style_stretch top_panel_opacity_solid top_panel_above menu_right sidebar_hide">

			
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap image_bg_7">
				<div class="menu_main_wrap logo_left with_text">
					<div class="menu_content_wrap clearfix">
						<div class="logo">
							<a [routerLink]="['/']" routerLinkActive="router-link-active">
								<span class="logo_text">Find My CRUSH</span>
							</a>
						</div>
						<div class="login_wrap">
							<a [routerLink]="['/auth']" routerLinkActive="router-link-active" class="popup_link popup_login_link">
								Log in
							</a>
							
						</div>
						
						<a href="#" class="menu_main_responsive_button icon-menu-1"></a>
						<nav role="navigation" class="menu_main_nav_area">
							
						</nav>
					</div>
				</div>
			</header>

			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="breadcrumbs">
					<div class="content_wrap">
						<a class="breadcrumbs_item home" href="index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Mobile App</span>
					</div>
				</div>
				<div class="page_title_wrap content_wrap page_title_wrap_style_2">
					<span class="page_title_bg"></span>
					<h1 class="page_title">Download App</h1>
				</div>
			</div>

			<div class="page_content_wrap container">
				<div class="content">
					<article class="post_item post_item_single page">
						<div class="post_content">

							<section class="">
								<div class="">
									<div class="sc_section">
										<h2 class="sc_title margin_top_0 margin_bottom_0">GET IN TOUCH</h2>
										<h5 class="sc_undertitle sc_undertitle_style_3">132 EAST 70TH STREET, NEW YORK, NY 10021</h5>
									</div>
								</div>
							</section>
                            <section class="section_padding_50">
								<div class="container">
									<div class="sc_section">
										<div class="sc_content">
											<h2 class="sc_title sc_title_style_1 sc_title_iconed sc_align_center">
											<span class="sc_title_icon sc_title_icon_top  sc_title_icon_small">
												<img src="assets/images/top_title_bg.png" alt="" />
											</span>Benefits Service</h2>
											<h5 class="sc_undertitle sc_undertitle_style_1 sc_align_center margin_bottom_50">Sing up and enjoy this benefits </h5>
											<div class="woocommerce columns-3">
												<ul class="products">
													<li class="first product">
														<a href="#">
															<img src="assets/images/get.jpg" class="attachment-shop_catalog" alt="Calm Bled lake at sunrise" />
															<h3>Get Account Dashoard</h3>
														</a>
													
														<div class="product_price">Add
															<span class="price">
																<span class="amount">+ 10 </span>
															</span>
															cars
														</div>
														
													</li>
													<li class="product">
														<a href="#">
															<img src="assets/images/send.jpg" class="attachment-shop_catalog" alt="Sunset over Manhattan from Top of the Rock" />
															<h3>Send And Recived Msg</h3>
														</a>
														
														<div class="product_cats">
															<a href="#">From your Crush</a>
														</div>
														
														
													</li>
													<li class="last product">
														<a href="#">
															<img src="assets/images/dowapp.jpg" class="attachment-shop_catalog" alt="bigstock-gold-temple-japan-44883001" />
															<h3>Get Mobile Application</h3>
														</a>
														<div class="product_cats">
															<a href="#">Android , IOS</a>
														</div>
														
														
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</section>
						

							<section class="">
							
							</section>

							

							


							<section >
							
							</section>

						</div>
					</article>
				</div>
			</div>

			

			<div class="copyright_wrap copyright_wrap_style_2">
				<div class="content_wrap">
					<div class="sc_section">
						<figure class="sc_image  sc_image_shape_square">
							<img src="images/copyright_decor.png" alt="" />
						</figure>
						<h2 class="sc_title sc_align_center">FIND MY CRUSH</h2>
						<div class="sc_socials sc_socials_size_tiny">
							<div class="sc_socials_item">
								<a href="https://twitter.com/Theme_REX" target="_blank" class="social_icons social_twitter icons">
									<span class="icon-twitter"></span>
									<span class="sc_socials_hover icon-twitter"></span>
								</a>
							</div><div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_dribbble icons">
									<span class="icon-dribbble"></span>
									<span class="sc_socials_hover icon-dribbble"></span>
								</a>
							</div><div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_pinterest icons">
									<span class="icon-pinterest"></span>
									<span class="sc_socials_hover icon-pinterest"></span>
								</a>
							</div><div class="sc_socials_item">
								<a href="https://www.facebook.com/themerex" target="_blank" class="social_icons social_facebook icons">
									<span class="icon-facebook"></span>
									<span class="sc_socials_hover icon-facebook"></span>
								</a>
							</div><div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_vimeo icons">
									<span class="icon-vimeo"></span>
									<span class="sc_socials_hover icon-vimeo"></span>
								</a>
							</div><div class="sc_socials_item">
								<a href="https://plus.google.com/102189073109602153696" target="_blank" class="social_icons social_gplus icons">
									<span class="icon-gplus"></span>
									<span class="sc_socials_hover icon-gplus"></span>
								</a>
							</div><div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_flickr icons">
									<span class="icon-flickr"></span>
									<span class="sc_socials_hover icon-flickr"></span>
								</a>
							</div>
						</div>
						<p>Find CAR  © 2021 - Find My Crush. All rights reserved.</p>
					</div>
				</div>
			</div>

		</div>
	</div>


