<div class="listar-dashboardbanner">
    <ol class="listar-breadcrumb">
        <li><a href="">Home></a>>My Profile</li>
        
    </ol>
    <h1>My Profile</h1>
    <div class="listar-description">
        
    </div>
</div>

<div id="listar-content" class="listar-content">
    <form class="listar-formtheme listar-formaddlisting">
        <fieldset>
            <div class="listar-boxtitle">
                <h3>Hello : {{dataSource.pseudo}}</h3>
            </div>
            <div class="listar-dashboardmyprofile">
                
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Full Name</label>
                            <input type="text" name="name" class="form-control" placeholder="{{dataSource.Name}}" readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Email Address</label>
                            <input type="email" name="email" class="form-control" placeholder="{{dataSource.email}}"readonly>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Phone Number</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="{{dataSource.tel}}"readonly>
                        </div>
                        
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Ville</label>
                            <input type="url" name="yoururl" class="form-control" placeholder="{{dataSource.ville}}"readonly>
                        </div>
                    </div>
                    
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="listar-boxtitle">
                <h3>Social Connection</h3>
            </div>
            <div class="listar-dashboardsocial">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Facebook</label>
                            <input type="text" name="name" class="form-control" placeholder="enter facebook profile url">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Twitter</label>
                            <input type="email" name="email" class="form-control" placeholder="enter twitter profile url">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Linkedin</label>
                            <input type="text" name="phonenumber" class="form-control" placeholder="enter linkedin profile url">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Google</label>
                            <input type="url" name="yoururl" class="form-control" placeholder="enter google profile url">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Instagram</label>
                            <input type="url" name="yoururl" class="form-control" placeholder="enter Instagram profile url">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group listar-dashboardfield">
                            <label>Pinterest</label>
                            <input type="url" name="yoururl" class="form-control" placeholder="enter pintrest profile url">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        
    </form>
</div>
