.bg-img
{
opacity:100%;
position:fixed;
background-size: contain;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
#panel{
    opacity: 70%;
    border-radius: 20px;
    text-align: center;

}
input { 
    border-radius: 20px;
    font-size:20px;
    color :black ;
    
    
    text-align: center; 
}