
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  #form{
    opacity: 90%;
    
  }
  input { 
    
    
    
    text-align: center; 
}
#mat{
  border-radius: 8px;
  height: 75px;
  font-size:50px;
  border-color: white;
  border-width: 20px;
  border : 20px solide white;
  background: black;
  color :white ;
  

}

#model{
  height: 55px;
  border-color: white;
  border-width: 20px;
  border : 20px solide white;
  background: transparent;
  color :white ;
  font-size:35px;
  

}

#btn{

  color: black;
}